#root, #root:first-child {
  height: 100%;
}
.copy_token:focus, .copy_token:hover{
  cursor: pointer;
}
.form-control:focus{
  border-color: rgba(18, 187, 173, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 0.2rem rgba(183, 183, 183, 0.45);
}
.error-popup{
  position: absolute;
  top: 125px;
  right: 7px;
  width: 300px;
}
.create-wallet , .send-token {
  min-height: 78vh;
}

.nav-delimiter, .footer-delimiter{
  margin: 0;
}
.open-wallet-btn , .send-wallet-btn {
  width: 100%;
  height: 60px;
}

.open-app-btn {
  width: 100%;
  height: 60px;
  margin-top: -3rem;
  margin-bottom: 10px;
  display: none;

}
@media (max-width: 767.98px) {
  .open-app-btn {
    display: block;
  }
}

.create-wallet-btn{
  width: 100%;
  height: 60px;
}
.desc{
  margin-top: 20px;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active{
  box-shadow: none;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5066d4;
  border-color: #5066d4; }
.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none; }
.btn-secondary,.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #28398f;
  border-color: #28398f; }
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff; }
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none; }
.btn-cancel-modal{
  color: #ffffff;
  background-color: #8f2828;
  border-color: #8f2828;
}
.btn-cancel-modal:hover , .btn-cancel-modal:focus{
  background-color: #d45050;
  border-color: #d45050;
  box-shadow: none;
}
.card{
  border: none;
}
.trans-pending{
  font-style: italic;
}
#private_key, #address_to ,#amount {
  height: 60px;
}

.language-dropdown .dropdown-menu{
  left: calc(50% - 5rem)!important;
}

@media (max-width: 767.98px) {
  .navbar-brand {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .ml-3 {
    margin-left: 0 !important;
  }
}
